body {
  background-color: #d3f4ff;
}

img {
  height: 220px;
  width: 150px;
}

h1 {
  color: #ff7315;
}

h2 {
  color: #ff7315;
}

h3 {
  color: #ff5151;
}
.font{
  font-size: 40px;
}
.font1/*one class use two times for grouping*/{
  font-size: 18px;
}

hr /*selector*/{
  width: 80%;
  height: 0.2px;
  border-top: 5px dotted red;
}
.circular /*class selector*/{
  border-radius: 20%;
}
.circular:hover /*pshudo class selector*/{
  border-radius: 60%;
}
